In [14]:
# Imports
import pandas as pd
import numpy as np
import joblib

from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.ensemble import RandomForestRegressor

In [15]:
# Loading the data
df_wine = pd.read_csv('data.csv')
df_wine

,Alchohol,Malic Acid,Ash,Alc of Ash,Mg,Phenols,Flavonoids,NF Phenol,Cyanins,CI,Hue,OD280,Proline,Wine
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [16]:
# Inspecting the data
df_wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Alchohol    178 non-null    int64
 1   Malic Acid  178 non-null    float64
 2   Ash         178 non-null    float64
 3   Alc of Ash  178 non-null    float64
 4   Mg          178 non-null    float64
 5   Phenols     178 non-null    int64
 6   Flavonoids  178 non-null    float64
 7   NF Phenol   178 non-null    float64
 8   Cyanins     178 non-null    float64
 9   CI          178 non-null    float64
 10  Hue         178 non-null    float64
 11  OD280       178 non-null    float64
 12  Proline     178 non-null    float64
 13  Wine        178 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 19.6 KB

In [17]:
df_wine.describe()

,Alchohol,Malic Acid,Ash,Alc of Ash,Mg,Phenols,Flavonoids,NF Phenol,Cyanins,CI,Hue,OD280,Proline,Wine
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,1.938202,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258
std,0.775035,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474
min,1.000000,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,1.000000,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000
50%,2.000000,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000
75%,3.000000,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000
max,3.000000,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

In [19]:
# Splitting the train and test data
train_set, test_set = train_test_split(df_wine, test_size=0.2, random_state=42)
split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)

# For loop
for train_index, test_index in split.split(df_wine, df_wine['Alchohol']):
  stratified_train_set = df_wine.loc[train_index]
  stratified_test_set = df_wine.loc[test_index]

# Creating the dataset
wine_df = stratified_train_set.copy()
wine_df = stratified_train_set.drop('Wine', axis=1)
wine_df_labels = stratified_train_set['Wine'].copy()

In [21]:
# Building the model
model = RandomForestRegressor()
model.fit(wine_df, wine_df_labels)
print("Model Training Ends...")
test_features=stratified_test_set.drop("Wine", axis=1)
test_labels=stratified_test_set["Wine"].copy()
y_labels=model.predict(test_features)
x=list(y_labels)
y=list(test_labels)
accuracy=[]

# Check for the accuracy
for i in range(len(test_labels)):
	if x[i]>y[i]:
		accuracy.append((y[i]/x[i])*100)
	else:
		accuracy.append((x[i]/y[i])*100)
joblib.dump(model, "rf_model.joblib")
print("Model Saved...")
acc=sum(accuracy)/len(x)
print("Final Accuracy of the Model: ", acc)

Model Training Ends...
Model Saved...
Final Accuracy of the Model:  83.34621588022952